USE [master]
GO
/****** Object:  Database [Pizza]    Script Date: 10/3/2023 11:56:11 ******/


ALTER DATABASE [Pizza] SET ANSI_NULL_DEFAULT OFF 
GO
USE [Pizza]
GO
/****** Object:  User [alumno]    Script Date: 10/3/2023 11:56:11 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Pizza]    Script Date: 10/3/2023 11:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizza](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[LibreGluten] [float] NOT NULL,
	[Importe] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Pizza] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pizza] ON 

INSERT [dbo].[Pizza] ([ID], [Nombre], [LibreGluten], [Importe], [Descripcion]) VALUES (3, N'Muzzarella', 0, 1500, N'Tomate queso')
INSERT [dbo].[Pizza] ([ID], [Nombre], [LibreGluten], [Importe], [Descripcion]) VALUES (5, N'Fugazzeta', 0, 1800, N'queso cebolla')
INSERT [dbo].[Pizza] ([ID], [Nombre], [LibreGluten], [Importe], [Descripcion]) VALUES (6, N'Jamon y morron', 1, 2200, N'jamon morron y queso')
SET IDENTITY_INSERT [dbo].[Pizza] OFF
GO
USE [master]
GO
